@import './_variables.scss';

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main#body {
  .panel {
    .card {
      .link {
        position: relative;
        .actions {
          opacity: 0;
          transition: opacity .3s linear;
        }
        &:hover {
          .actions {
            opacity: 100;
            z-index: 2
          }
        }
      }
    }
  }
}

